{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Crossroad of HTML templates' %}

{% block content %}

	{% set components = [
		{
			link: '00-layout.html',
			linkText: 'Layout',
			number: '00'
		},
	] %}
	{% set basic = [
		{
			link: '00-icons.html',
			linkText: 'SVG Icons',
			number: '00'
		},
	] %}
	{% set pages = [
		{
			link: '01-homepage.html',
			linkText: 'Page test',
			number: '01'
		},
		{
			link: '02-spielplan.html',
			linkText: 'Spielplan',
			number: '02'
		},
	] %}


	<main role="main" id="main" class="main">
		<div class="container">
			<h1>Crossroad of HTML templates</h1>
			<h2>Basic styles</h2>
			<ul>
				{% for item in basic %}
					<li>
						<a href="{{ item.link }}">00 -
							{{ item.linkText }}</a>
					</li>
				{% endfor %}
			</ul>
			<h2>Components</h2>
			<ul>
				{% for item in components %}
					<li>
						<a href="{{item.link}}">{{item.number}}
							-
							{{item.linkText}}</a>
						{% if item.ready %}
							&nbsp;&nbsp;<span style="margin-left: 10px;" class="tag">BE ready</span>
						{% endif %}

					</li>
				{% endfor %}
			</ul>
			<h2>Page Templates</h2>
			<ul>
				{% for item in pages %}
					<li>
						<a href="{{item.link}}">{{item.number}} - {{item.linkText}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="form" style="max-height: fit-content">
			<div id="part"></div>
		</div>

	</main>

{% endblock %}
